/* font */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Lobster&family=Poppins:wght@400;500&family=The+Nautigal:wght@400;700&family=Titan+One&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* header starts */
.header{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    border-radius: 15px;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.head h1{
    font-size: 35px;
}
.btn{
    margin-bottom: 20px;
    padding: 10px;
    background-color: orangered;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    transition: ease-out 1s;
}
.head:hover .btn{
    box-shadow: inset 300px 0 0 0 black;
}
.header-img img{
    height: 100%;
    padding-left: 50px;
}

/* header end  */

/* main part start */
.main-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 79px;
    margin-right: 100px;
    
}
.main{
    display: flex;
}
.main-part a{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
}
.main-part{
    display: flex;
    border: 1px solid;
    height: 190px;
    width: 400px;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 100px;
    text-align: center;
    margin-right: 20px;

}
#blog{
    background-color: red;
    color: white;
    margin: 10px 15px;
    padding: 7px;
    border-radius: 8px;
}
#group{
    background-color: white;
    margin: 10px 15px;
    padding: 7px;
    border-radius: 8px;
    color: black;
}
#upcoming{
    background-color: white;
    margin: 10px 15px;
    padding: 7px;
    border-radius: 8px;
    color: black;
    
}
.fa-message{
    padding-left: 10px;
}
/* footer part */
footer{
    background-color: black;
    height: 200px;
    margin-top: 80px;
    color: white;
    text-align: center;
    padding-top: 30px;
}
hr{
    width: 90%;
}
.footer-sec ul li{
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding-left: 40px;
    margin-left: 60px;
}
.footer-sec ul{
    display: flex;
}
/* icon sections */
.fa-brands {
    font-size: 35px;
    padding: 10px;
    text-decoration: none;
}
/* web2 sections */
.flag{
    display: flex;
    align-items: center;
    padding: 35px;
    
}
.flag p{
    padding-right: 10px;
    padding-left: 10px;
}
.web2-content{
    border: 0.5px solid whitesmoke;
    text-align: center;
}
/* web2 sections ends */


/* media queries */

/* mobile devices */

@media only screen and (max-width:580px) {
    .header{
        width: 55%;
        height: 80%;
        margin-left: 10px;
    }
    .header-img img{
        width: 100%;
        height: 100%;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .main-part{
        width: 90%;
        margin-left: 15px;
    }
    .main-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 30px;
        
    }
    .content{
        align-items: center;
    }
    footer{
        width: 100%;
        height: 120%;
        text-align: center;
        
    }
    footer ul{
        display: flex;
        flex-direction: column;
        padding-right: 100px;
        padding-bottom: 40px;
    }
}