/* font */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Lobster&family=Poppins:wght@400;500&family=The+Nautigal:wght@400;700&family=Titan+One&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* header starts */
.header{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    border-radius: 15px;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.head h1{
    font-size: 35px;
}
.btn{
    margin-bottom: 20px;
    padding: 10px;
    background-color: orangered;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    transition: ease-out 1s;
}
.head:hover .btn{
    box-shadow: inset 300px 0 0 0 black;
}
.header-img img{
    height: 100%;
    padding-left: 50px;
}

/* header end  */

/* main part start */
.main-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 79px;
    margin-right: 100px;
    
}
.main{
    display: flex;
}
.main-part a{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
}
.main-part{
    display: flex;
    border: 1px solid;
    height: 190px;
    width: 400px;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 100px;
    text-align: center;
    margin-right: 20px;

}
#blog{
    background-color: rgb(245, 9, 9);
    color: white;
    margin: 10px 15px;
    padding: 7px;
    border-radius: 8px;
}
#group{
    background-color: white;
    margin: 10px 15px;
    padding: 7px;
    border-radius: 8px;
    color: black;
}
#upcoming{
    background-color: white;
    margin: 10px 15px;
    padding: 7px;
    border-radius: 8px;
    color: black;
    
}
.fa-message{
    padding-left: 10px;
}
